#title{
  position: relative;
  z-index: -1;
}

h1{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  color: white;
}
p{
  color:#666562;

}
.btn {
  margin-right: 10px;
  margin-bottom: 20px;
}
.container-fluid{
  padding: 3% 15% 15%;


}
.doggy-phone{

    transform: rotate(20deg);

width: 30%;
position: absolute;
margin-bottom: 700px;


}

.navbar{

  font-family: 'Ubuntu';
}
.fas{
  margin: auto 0;
  color:#EF8172;
  font-size: 3rem;
}
.fab{
  margin: auto 0;
  color:#666562;
  font-size: 1rem;
}

.fas:hover{
  color: #ff4c68;
}


h3{
  margin: 20px;

font-family: 'Montserrat';

}
.cta-heading{
  font-size: 3.5rem;
}
#features{
  background-color: white;
 margin: 20 0;
 text-align: center;
 position: relative;
 z-index: 1;
 padding: 100px;
 padding-bottom: 0;
}

#testimonials{
  background-color: #EF8172;
  color: white;
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  text-align: center;
  padding: 150px;
  padding-bottom: 200px;

}
.font{
  font-size: 1rem;
}
.doggy-picture{
  width: 10%;
  border-radius: 100%;
}
#press{
  background-color: #EF8172;
  padding: 30px;
  text-align: center;
}
.img{
  width: 20%;
}
.pri{
  text-align: center;
}

.cta{
  background-color: #ff4c68;
text-align: center;
  color: white;
  padding: 100px;
  font-size: 50%;

}
.footer{
  text-align: center;
  padding: 50px;
}
